@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
	--black: #151515;
	--white: #fbf5ed;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	/* outline: 1px dotted red; */
	font-family: "Poppins", sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: var(--black);
}

main {
	height: 100vh;
	width: 100%;
	overflow-y: hidden;
}

nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 40px;
	text-transform: uppercase;
}

nav ul {
	position: absolute;
	display: flex;
	align-items: center;
	column-gap: 20px;
}

nav ul:first-child {
	left: 0;
	font-size: 14px;
}

nav ul:last-child {
	right: 0;
	font-size: 18px;
}

nav ul li {
	color: var(--white);
	cursor: pointer;
	line-height: 1;
}

nav a h1 {
	color: var(--white);
}

#upper {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
}

article h1 {
	margin-left: -14px;
	font-size: 15vw;
	font-weight: 100;
	line-height: 1;
	text-transform: capitalize;
	color: var(--white);
	cursor: default;
}

#down {
	display: flex;
	column-gap: 60px;
	justify-content: end;
	margin-right: -104px;
}

#down i {
	position: relative;
	height: 130px;
	width: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--white);
	border-radius: 50%;
	font-size: 40px;
	color: var(--white);
	cursor: pointer;
}

#down i::after {
	content: "";
	height: 120px;
	width: 120px;
	position: absolute;
	background-image: url("../assets/images/inkpx-curved-text.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	animation-name: rotate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#down i:hover {
	scale: 1.05;
	transition: all 0.3s linear;
}

#down i:hover::after {
	animation-duration: 5s;
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}
	to {
		rotate: 360deg;
	}
}

figure img {
	height: 300px;
	object-fit: cover;
}

figure img:hover {
	scale: 1.02;
	transition: all 0.3s linear;
}

figure img:first-child {
	position: absolute;
	top: 12vw;
	right: 10vw;
	rotate: 20deg;
}

figure img:last-child {
	position: absolute;
	top: 5vw;
	right: 25vw;
	rotate: -30deg;
	height: 200px;
	width: 200px;
	box-shadow: 25px 40px 30px #00000080, 25px 40px 30px #00000080;
}

.down {
	display: flex;
	align-items: end;
	justify-content: space-between;
	padding: 0 40px;
	color: var(--white);
}

.down #left {
	width: 28vw;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	cursor: default;
}

#left h3 {
	font-weight: 500;
	text-transform: capitalize;
}

#left p {
	font-size: 15px;
	color: #c1c1c1;
	font-weight: 100;
}

.down #right {
	display: flex;
	align-items: center;
	padding: 0 2px;
	column-gap: 5px;
	cursor: pointer;
	border: 1px solid transparent;
}

.down #right p {
	padding: 0 2px;
	text-transform: capitalize;
	border-bottom: 1px solid var(--white);
}

.down #right:hover {
	transition: border 0.3s linear;
	border: 1px solid var(--white);
}

.down #right:hover p {
	transition: border 0.3s linear;
	border-bottom: 1px solid transparent;
}